<div class="row justify-content-center mb-10">
  <img src="/assets/cd-cycle.gif" alt="" />
</div>

<div class="row justify-content-center mb-10">
  <img src="/assets/cd-on-push-cycle.gif" alt="" />
</div>
<div class="row">
  <div class="col-12">
    Image source:<br />
    <a href="https://www.mokkapps.de/blog/the-last-guide-for-angular-change-detection-you-will-ever-need/"
      >https://www.mokkapps.de/blog/the-last-guide-for-angular-change-detection-you-will-ever-need/</a
    >
  </div>
</div>
